.wrappage {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  table {
    border-spacing: 0px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    td,
    th {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
    tbody {
      tr:nth-child(2n + 1) {
        td {
          background: #f6f6f6;
        }
      }
      tr {
        td:nth-child(1) {
          width: 30%;
        }
      }
    }
  }
}
input {
  height: 40px;
  width: calc(100% - 30px);
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
}
